
.main {
    width: 650px;
    float: left;
}

.main h1 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
    background: url(/static/image/big-line.gif) 0 bottom no-repeat;
}

.respond {
    margin-top: 5px;
}

.respond-content {
    padding: 10px 20px;
    background-color: #FAFAFA;
    border: 1px solid #E6E6E6;
    margin-top: 5px;
    padding-bottom: 20px;
}

.respond-content .item {
    margin-top: 12px;
}

.respond-content .item input {
    width: 300px;
    border: 1px solid #CACACA;
    background: #ffffff;
    height: 26px;
    line-height: 26px;
    padding-left: 5px;
}

.respond-content .item input.submit {
    background-color: #ff6000;
    color: #fff;
    border: 0;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    padding: 0 20px;
    width: 100px;
    text-align: center;
}

.respond-content .item input.submit:hover {
    background-color: #cd5500;
}

.respond-content .item label {
    font-weight: bold;
    display: block;
    float: left;
    line-height: 34px;
    width: 45px;
    height: 32px;
}

.respond-content .item .input {
    float: left;
}

.respond-content .item textarea {
    resize: vertical;
    border: 1px solid #CACACA;
    padding: 10px 5px;
    display: block;
}

#reply-title, #comments-title {
    color: #969696;
    font-weight: normal;
    font-size: 1.5em;
}

.comment-list .comment-item {
    margin-top: 5px;
    padding: 10px 20px;
    border: 1px solid #E6E6E6;
}

.comment-list .odd {
    background: #FAFAFA;
}

.comment-list .even {
    background: #fff;
}

.comment-item .reply-comment a {
    background: url('/images/icons.png') no-repeat;
    background-position: 0 -63px;
    padding-left: 21px;
}

.comment-list .reply-comment {
    display: none;
}

.comment-list .item-hover .reply-comment {
    display: block;
}

.comment-item .avatar {
    float: left;
    border: 1px solid #ccc;
    padding: 2px;
    width: 38px;
    height: 38px;
}

.comment-item .comment-info {
    margin-left: 55px;
}

.comment-info .name {
    margin-top: 2px;
}

.comment-info .name a {
    font-weight: bold;
}

.comment-info .date {
    margin-top: 8px;
}

.comment-item .comment-content {
    margin-top: 10px;
}
